{% extends "header-all.html" %}
{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block keyword %}{% endblock %}
{% load static %}
{% block content %}
<div class="breadcumb-area bg-img" style="background-image: url(/static/img/bg-img/breadcumb.jpg);">
    <div class="bradcumbContent">
        <h2>Academics</h2>
    </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12 container container_pad bootom_size">
    <div class="row col-md-12 col-sm-12 col-xs-12 acd_right">
        <div class="col-md-10 col-sm-12 col-xs-12 no-padding">                
            <div class="about-us-area mt-50 section-padding-100">                    
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                        <h3>Academics &ndash; Engendering World - Class Pedagogical Practices</h3>
                    </div>                        
                </div>
                <div class="container-fluid padding-md-right admiss_content  col-md-12 col-sm-12 col-xs-12  row wow fadeInUp content_justify no-padding" data-wow-delay="400ms">
                    <p>Atlantis practices dynamically designed teaching learning styles consistent with the theory of multiple intelligences while ensuring the simultaneity of cognitive and physical development through the co-curriculum complemented with targeted exposure.</p>
                    <p>The curriculum is focused as well as diverse. It is devised keeping in view the modern pedagogical principles and skill-development requirements. The academics and the co-curricular are not seen as competing but as complementary to each other. The principles of the cognitive sciences are incorporated in the development of the classroom instruction plan and educational technology is aptly deployed to assist the curricular implementation.</p>                   
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  admiss_content  row wow fadeInUp content_justify  no-padding" data-wow-delay="500ms">
                    <div class="col-md-8 col-sm-12 col-xs-12 no-padding">
                        <p>The classroom instruction is highly interactive and individual attention is paid to define the individual set of intelligences that each child possesses. The curriculum is designed factoring in the tenets of the Theory of Multiple Intelligences and lesson plans are designed accordingly.</p>
                        <p>Assessment of the progress is seamlessly integrated into the overall curricular goals and evaluations are multi-faceted and highly systemized. The basis of instructions is formed by the twin principles of inclusiveness and competitiveness.</p>
                        <p>The school subscribes to syllabus prescribed by the CBSE with the most recent additions including AI. Foreign language is also offered as an elective to the students. Information and Computer Technology forms an integral segment of the curriculum at the Atlantis and e-learning is well-integrated.</p>
                        <h3 style="font-weight: 500; font-size: 20px;">Faculty</h3>
                        <p>The faculty is invariably orientated to the holistic and unhindered development of the child. The mentoring is not confined to the classroom but goes beyond via effective communication and individualized attention. Teachers are trained in the tenets of Theory of Multiple Intelligences and are set to be instrumental in assisting the children in making their career choices.</p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 "><img src="../../../../../static/img/bg-img/academics.jpg" /></div>
                </div>
            </div>                
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2 no_display"> 
            <div style="position: sticky;top: 25%;">
                <h4 class="quick">Quick Links</h4><br>
                <div class="liking_show">
                    <p><a href="/about-us/" class="side_link heg_space ">About Us</a></p>
                    <p><a href="/academics/" class="side_link heg_space">Academics</a></p>
                    <p><a href="/beyond-academics/" class="side_link ">Beyond Academics</a></p>
                    <p><a href="/Infrastructure/" class="side_link heg_space">Infrastructure</a></p>
                    <p><a href="/gallery/" class="side_link heg_space">Gallery</a></p>
                    <p><a href="/admission/" class="side_link heg_space">Admission</a></p>
                    <p><a href="/contact-us/" class="side_link heg_space">Contact Us</a></p>
                </div>
            </div> 
        </div> 
    </div>    
</div><br>

{% endblock %}