{% extends "header-all.html" %}
{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block keyword %}{% endblock %}
{% load static %}
{% block content %}
<div class="breadcumb-area bg-img" style="background-image: url(/static/img/bg-img/breadcumb.jpg);">
    <div class="bradcumbContent">
        <h2>Admission</h2>
    </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12 container container_pad bootom_size">
    <div class="row col-md-12 col-sm-12 col-xs-12 acd_right">
        <div class="col-md-10 col-sm-12 col-xs-12 no-padding">                
            <div class="about-us-area mt-50 section-padding-100">                    
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!-- <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                        <h3>Academics &ndash; Engendering World - Class Pedagogical Practices</h3>
                    </div>   -->                      
                </div>
                <div class="container-fluid padding-md-right admiss_content home_four col-md-12 col-sm-12 col-xs-12  row wow fadeInUp content_justify no-padding" data-wow-delay="400ms">
                    <p>Admission is granted based on the vacancies and it is not denied on the basis of caste, creed, sex, etc. Though it&rsquo;s not mandatory, it is recommended that the students take an informal test (takes about 30-60 min) on any day during office hours, as it serves as a tool to understand the prior knowledge of the student and inform the teachers &amp; parents accordingly. There are no Pass marks in the test and admission is neither granted nor denied based on the performance in that test. The test may be taken even after the admission process is completed.</p>                  
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  admiss_content  row wow fadeInUp content_justify  no-padding" data-wow-delay="500ms">
                    <div class="col-md-8 col-sm-12 col-xs-12 no-padding">
                        <p style="margin-bottom: 15px;"><strong>Age Criteria:</strong></p>
                        <p style="margin-bottom: 15px;"><em><strong>LKG</strong></em>: 3+ years as on Mar 1st</p>
                        <p style="margin-bottom: 15px;"><em><strong>UKG</strong></em>: 4+ years as on Mar 1st</p>
                        <p style="margin-bottom: 15px;"><em><strong>Class I &ndash; X</strong></em>: 5+ years as on Mar 1st i.e; if a student seeks admission into 5th class, he/she should be 5 + 4 = 9+ years as on Mar 1st of that academic year.</p>
                        <p><strong>FEE</strong>: The below fee includes the tuition fee, language labs, science and computer labs, smart classes, library, exams, games &amp; sports including swimming, skating, yoga, fitness, field trips, etc co-curricular &amp; extra-curricular activities that are conducted during school timings. It may exclude the cost of&nbsp;specialized sports like horse riding, rifle shooting, costumes, makeup, external resources training fee (optional for interested students only).</p>
                        <p>Click here for&nbsp;<em><a href="#" target="_blank" rel="noopener"> Atlantis the World School Fee Structure &ndash; 2019-20</a></em></p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 "><img src="../../../../../static/img/bg-img/admission.jpg" /></div>
                    <p><strong>Books &amp; Uniform</strong>: Cost of Books &amp; Uniform is not included in the above fee. Though Books &amp; Uniform accessories shall be available in the school, it is not mandatory to purchase them at the school except for some academic material, School Diary, T-shirt, etc which may not be available outside. However, there shall be at least a 10% discount on most items available at the school counter.</p>
                </div>
            </div>                
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2 no_display"> 
            <div style="position: sticky;top: 25%;">
                <h4 class="quick">Quick Links</h4><br>
                <div class="liking_show">
                    <p><a href="/about-us/" class="side_link heg_space ">About Us</a></p>
                    <p><a href="/academics/" class="side_link heg_space">Academics</a></p>
                    <p><a href="/beyond-academics/" class="side_link ">Beyond Academics</a></p>
                    <p><a href="/Infrastructure/" class="side_link heg_space">Infrastructure</a></p>
                    <p><a href="/gallery/" class="side_link heg_space">Gallery</a></p>
                    <p><a href="/admission/" class="side_link heg_space">Admission</a></p>
                    <p><a href="/contact-us/" class="side_link heg_space">Contact Us</a></p>
                </div>
            </div> 
        </div> 
    </div>    
</div><br>

{% endblock %}