{% extends "header-all.html" %}
{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block keyword %}{% endblock %}
{% load static %}
{% block content %}
<div class="breadcumb-area bg-img" style="background-image: url(/static/img/bg-img/breadcumb.jpg);">
    <div class="bradcumbContent">
        <h2>Beyond Academics</h2>
    </div>
</div>
<div class="container-fluid container_pad bootom_size">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row col-md-12 col-sm-12 col-xs-12 acd_right">
            <div class="col-md-10 col-sm-12 col-xs-12 no-padding">
                <div class="">  
                    <section class="about-us-area mt-50 section-padding-100-0">
                        <div class="row">
                            <div class="col-12">
                                <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                                    <h3>Beyond Academics-From Convention to Excellence</h3>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid no-padding ">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12 col-md-9 wow fadeInUp content_justify home_four no-padding" data-wow-delay="500ms">
                                    <p>At Atlantis, the students are exposed to a range of extra-curricular acvtivities to complemnt the acdemic developemnt and for the inculcation of a complete personality. The activities include the ones related to the arts,technology, performing arts and competitive sports. The competitive spirit is infused in students via house membership and there are various clubs to provide the ambience for artistic developemnt and team spirit.</p>
                                    <p>The dramatics and debating compretitions are palnned to build the confidence in children and engendering courage of conviction. Compretitive sports not only build physical fitness but give a boost to the team spirit in students. There are arts and crafts club, band and media lab membership for the development of skills in childen in the schooling years.</p>
                                </div>
                                <div class="col-sm-12 col-xs-12 col-md-3  wow fadeInUp " data-wow-delay="400ms"><img class="img-width-height-content" src="../../../../../static/img/bg-img/bacademics.jpg" alt="" /></div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 no_display"> 
            	<div style="position: sticky;top: 25%;">
	                <h4 class="quick">Quick Links</h4><br>
	                <div class="liking_show">
	                    <p><a href="/about-us/" class="side_link heg_space ">About Us</a></p>
                        <p><a href="/academics/" class="side_link heg_space">Academics</a></p>
                        <p><a href="/beyond-academics/" class="side_link ">Beyond Academics</a></p>
                        <p><a href="/Infrastructure/" class="side_link heg_space">Infrastructure</a></p>
                        <p><a href="/gallery/" class="side_link heg_space">Gallery</a></p>
                        <p><a href="/admission/" class="side_link heg_space">Admission</a></p>
                        <p><a href="/contact-us/" class="side_link heg_space">Contact Us</a></p>
	                </div>
	            </div> 
            </div> 
        </div>
    </div>
</div><br>

{% endblock %}